*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	background: #333;
	color: #fff;
	line-height: 1.6;
}

.slider {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}

.slide.current{
	opacity: 1;
}

.slide .content{
	position: absolute;
	bottom: 70px;
	left: -600px;
	width: 600px;
	opacity: 0;
	background-color: rgba(255,255,255,0.8);
	color: #333;
	padding: 35px;
}

.slide.current .content{
	opacity: 1;
	transform: translateX(600px);
	transition: all 0.7s ease-in-out 0.3s;
}

.slide .content h1{
	margin-bottom: 10px;
}

button#next {

	position: absolute;
	top: 40%;
	right: 15px;
}

button#prev {
	position: absolute;
	top: 40%;
	left: 15px;
}

.buttons button {
	border: 2px solid white;
	background-color: transparent;
	color: white;
	cursor: pointer;
	padding: 13px 15px;
	outline: none;
}

.buttons button:hover{
	background-color: white;
	color: #333;
}

@media (max-width: 500px) {
	.slide .content {
		bottom: -300px;
		left: 0;
		width: 100%;
	}

	.slide.current .content {
		transform: translateY(-300px);
	}
}

/* Background Images */

.slide:first-child{
	background: url('./img/Food-pic-1.jpg') no-repeat center center/cover;
}

.slide:nth-child(2) {
	background: url('./img/Food-pic-2.jpg') no-repeat center top/cover;
}

.slide:nth-child(3) {
	background: url('./img/Food-pic-3.jpg') no-repeat center top/cover;
}

.slide:nth-child(4) {
	background: url('./img/Food-pic-4.jpg') no-repeat center top/cover;
}

.slide:nth-child(5) {
	background: url('./img/Food-pic-5.jpg') no-repeat center top/cover;
}

.slide:nth-child(6) {
	background: url('./img/Food-pic-6.jpg') no-repeat center top/cover;
}